// import _btnConfig.scss (has _config.scss and _utilities.scss already imported)
@import "btnConfig";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  // This is where the bulk of the SCSS styling needs to be done

  // Take a look at the other files we've built already. How can they be useful here?

  // Also, take time to review the features of SCSS we've already covered:
  // 1. $variables
  // 2. nesting (dont forget about the ampersand (&) parent selector!)
  // 3. At-Rules

  // style background using set-bg from _utilities.scss
  @include set-bg($primary-color);
  .box {
    // style nav using flex-box to evenly space items
    nav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    // style li items to be inline, with spacing using flex, and no bullet points
    ul {
      display: flex;
      list-style: none;
    }

    li {
      padding: 0px 20px;
    }

    // style anchor color using text-color-picker function from _utilities.scss
    a {
      color: text-color-picker($primary-color);
      &:hover {
        color: $secondary-color;
      }
    }
  }

  // .hero-content
  &-content {

    // style div and img within .hero-content to be centered and side by side
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    // change font size
    h1 {
      font-size: 3em;
    }

    // change div, img widths for responsive design
    div, img {
      width: 50%;
      padding: 10px;
    }
  }
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (
  1,
  2,
  3,
  4,
  5
);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}